
body, html {
    height:100%;
    margin:0;
}
body{
  height: 100%;
  margin: 0 0 0 0;
}

body, a {
    cursor: url(./images/cursor.png) 12 12, auto;
}

body * {
 /*   border: 1px red solid;*/
    /*
    box-sizing: content-box;*/
    box-sizing: border-box;
}

#background {
    height:100%;
    width:100%;
    z-index:0;
}

#main-container {
    height: 100vh;
    width: 100%;
    background-image:url('./images/wurst-bg.jpg');
    background-size: 100% 100%;
    text-align: center;
    overflow:hidden;
}

#main {
    height: 100%;
    width: 100%;
    position:relative;
    display: inline-block;
}

#main div {
}

#vertical-logo {
    width: 20%;
    height: 100%;
    position: absolute;
    left: 40%;
    background-image:url('./images/vertical logo.png');
    background-size: auto 60%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.5s ease;
    z-index:2;
}
#vertical-logo img{
    vertical-align: center;
    justify-content: center;
        align-items: center;
}
.activated #main {
    /*
        justify-content: center;*/
}

.activated #vertical-logo {
    position: absolute;
    left: -200px;
    /*
    position: absolute;
    right: 100%;*/
}

.activated #content {
    opacity:100;
}
#content {
    height: 100%;
    position:absolute;
    left:0;
    text-align: left;
    opacity:0;
    transition: all 0.5s ease;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding:0 4em 0 4em;
}

#about {
    height:60%;
    color: white;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 4px;
    line-height:1.5em;
    padding-top:2em;
}

/* desktop */
@media (min-width: 420px) {
    #main {
        width: 70%;
    }

    #content {
        position:absolute;
        padding:0 4em 0 1em;
        left:20%;
        width: 79%;
    }
    .activated #main {
        /*
                justify-content: flex-start;*/
    }

    .activated #vertical-logo {
        position: absolute;
        left: 0;
    }

    /*
        .activated #vertical-logo {
            position: relative;
            right: auto;
        }*/

}
